*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 200px;
    background: linear-gradient(-45deg,#0a282b, #2a354d, #243563, #2f2235);  
    display: flex;
    justify-content: center;
}

.glass {
    display: flex;
    width: 570px;
    height: 370px;
    margin: auto;
    overflow: hidden;
    position: relative;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.carousel-container {
    display: flex;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.carousel-slide {
    display: flex;
    width: 50%;
    height: 300px;
}

img{
    width: 500px;
    height: 300px;
}



#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 2px;
    font-size: 30px;
    color: rgb(13, 133, 155);
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 2px;
    font-size: 30px;
    color: rgb(13, 133, 155);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#infoBtn{
    position: absolute;
    top: 2px;
    z-index: 10;
    left: 2px;
    font-size: 30px;
    color: rgb(13, 133, 155);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#prevBtn:hover{
    color: turquoise;
}

#nextBtn:hover{
    color: turquoise;
}
#infoBtn:hover{
    color: turquoise;
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

  .stars {
    background: #000 url(img/stars.png) repeat top center;
    z-index:0;
  }
  
  .twinkling{
    background:transparent url(img/twinkling.png) repeat top center;
    
    animation:move-twink-back 200s linear infinite;
  }

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
